<h1>{{ title }}</h1>

<a href="/biz-adv?section={{ q.section }}&floor=&status=&order=">
	고급 화면으로 보기 ▶️
</a>

<br><br>

<table>
	<thead>
		<tr>
			<th>업소명</th>
			<th>섹션</th>
			<th>층</th>
			<th>상태</th>
			<th>배달</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each businesses}}
			<tr>
				<td>{{business_name}}</td>
				<td>{{section_name}}</td>
				<td>{{floor}}</td>
				<td>{{status_kor}}</td>
				<td>
					{{#if can_takeout}}
						✔️
					{{^}}
						❌
					{{/if}}
				</td>
				<td>
					<a href="/business/{{ business_id }}">
						자세히
					</a>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<br><br>

<a href="/">
	 ◀️ 섹션 목록으로 돌아가기️
</a>